<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="boydog">
    <meta name="description" content="Go realtime. Build ultra-fast, realtime-collaborative webpages in Node.JS + Socket.IO">
    <title>boy.dog</title>
    
    <!-- Landing page resources -->
    <link rel="icon" href="/landing/icon.png">
    <link rel="stylesheet" href="/landing/fonts/Roboto.min.css">
    <link rel="stylesheet" href="/landing/normalize.css">
    <link rel="stylesheet" href="/landing/milligram.css">
    <link rel="stylesheet" href="/landing/main.css">
    <script src="/jquery-2.2.4.min.js"></script>
  </head>
  <body>
    
    <main class="wrapper">
      
      <nav class="navigation">
        <section class="container">
          <a class="navigation-title" href="http://www.boy.dog">
            <svg class="img" version="1.1" viewBox="0 0 463 669">
              <g transform="translate(0.000000,669.000000) scale(0.100000,-0.100000)">
                <path d="M2303 6677c-11-13-58-89-393-627-128-206-247-397-265-425-18-27-85-135-150-240-65-104-281-451-480-770-358-575-604-970-641-1032-10-18-45-74-76-126-47-78-106-194-107-212-1-3-11-26-24-53-60-118-132-406-157-623-19-158-8-491 20-649 82-462 291-872 619-1213 192-199 387-340 646-467 335-165 638-235 1020-235 382 0 685 70 1020 235 259 127 454 268 646 467 328 341 537 751 619 1213 28 158 39 491 20 649-25 217-97 505-157 623-13 27-23 50-23 53 0 16-57 127-107 210-32 52-67 110-77 128-37 62-283 457-641 1032-199 319-415 666-480 770-65 105-132 213-150 240-18 28-137 219-265 425-354 570-393 630-400 635-4 3-12-1-17-8zm138-904c118-191 654-1050 1214-1948 148-236 271-440 273-452 2-13 8-23 11-23 14 0 72-99 125-212 92-195 146-384 171-598 116-974-526-1884-1488-2110-868-205-1779 234-2173 1046-253 522-257 1124-10 1659 45 97 108 210 126 225 4 3 9 13 13 22 3 9 126 209 273 445 734 1176 1102 1766 1213 1946 67 108 124 197 126 197 2 0 59-89 126-197zM1080 3228c-75-17-114-67-190-243-91-212-128-368-137-580-34-772 497-1451 1254-1605 77-15 112-18 143-11 155 35 212 213 106 329-32 36-62 48-181 75-223 50-392 140-552 291-115 109-178 192-242 316-101 197-136 355-128 580 3 111 10 167 30 241 30 113 80 237 107 267 11 12 20 26 20 32 0 6 8 22 17 36 26 41 27 99 3 147-54 105-142 149-250 125z"></path>
              </g>
            </svg>
            &nbsp;
            <h1 class="title">boy.dog</h1>
          </a>
          <h6 class="title float-right"><small>Build ultra-fast, realtime-collaborative webpages</small></h6>
          <ul class="navigation-list float-right" style="visibility: hidden;">
            <li class="navigation-item">
              <a class="navigation-link" href="#popover-grid" data-popover>Docs</a>
              <div class="popover" id="popover-grid">
                <ul class="popover-list">
                  <li class="popover-item"><a class="popover-link" href="#getting-started" title="Getting Started">Getting Started</a></li>
                  <li class="popover-item"><a class="popover-link" href="#typography" title="Typography">Typography</a></li>
                  <li class="popover-item"><a class="popover-link" href="#blockquotes" title="Blockquotes">Blockquotes</a></li>
                  <li class="popover-item"><a class="popover-link" href="#buttons" title="Buttons">Buttons</a></li>
                  <li class="popover-item"><a class="popover-link" href="#lists" title="Lists">Lists</a></li>
                  <li class="popover-item"><a class="popover-link" href="#forms" title="Forms">Forms</a></li>
                  <li class="popover-item"><a class="popover-link" href="#tables" title="Tables">Tables</a></li>
                  <li class="popover-item"><a class="popover-link" href="#grids" title="Grids">Grids</a></li>
                  <li class="popover-item"><a class="popover-link" href="#codes" title="Codes">Codes</a></li>
                  <li class="popover-item"><a class="popover-link" href="#utilities" title="Utilities">Utilities</a></li>
                  <li class="popover-item"><a class="popover-link" href="#tips" title="Tips">Tips</a></li>
                  <li class="popover-item"><a class="popover-link" href="#browser-support" title="Browser Support">Browser Support</a></li>
                  <li class="popover-item"><a class="popover-link" href="#examples" title="Examples">Examples</a></li>
                  <li class="popover-item"><a class="popover-link" href="#contributing" title="Contributing">Contributing</a></li>
                </ul>
              </div>
            </li>
            <li class="navigation-item">
              <a class="navigation-link" href="#popover-support" data-popover>Support</a>
              <div class="popover" id="popover-support">
                <ul class="popover-list">
                  <li class="popover-item"><a class="popover-link" target="blank" href="https://github.com/boydoglabs/boydog" title="On Github">On Github</a></li>
                  <li class="popover-item"><a class="popover-link" target="blank" href="https://codepen.io/milligramcss" title="On Codepen">On Codepen</a></li>
                  <li class="popover-item"><a class="popover-link" target="blank" href="https://facebook.com/milligramcss" title="On Facebook">On Facebook</a></li>
                  <li class="popover-item"><a class="popover-link" target="blank" href="https://twitter.com/milligramcss" title="On Twitter">On Twitter</a></li>
                  <li class="popover-item"><a class="popover-link" target="blank" href="https://github.com/boydoglabs/boydog/issues/new" title="Need help?">Need help?</a></li>
                  <li class="popover-item"><a class="popover-link" target="blank" href="https://github.com/boydoglabs/boydog#license" title="License">License</a></li>
                  <li class="popover-item"><a class="popover-link" target="blank" href="https://github.com/boydoglabs/boydog/releases" title="Versions">Versions</a></li>
                </ul>
              </div>
            </li>
          </ul>
          <a href="https://github.com/boydoglabs/boydog" title="boy.dog on Github" target="_blank">
            <svg class="octocat" viewBox="0 0 250 250"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path class="octocat-arm" d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"></path><path class="octocat-body" d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"></path></svg>
          </a>
        </section>
      </nav>
      
      <header  id="home" class="header">
        <section class="container">
          <svg class="img" version="1.1" viewBox="0 0 463 669">
            <g transform="translate(0.000000,669.000000) scale(0.100000,-0.100000)">
              <path d="M2303 6677c-11-13-58-89-393-627-128-206-247-397-265-425-18-27-85-135-150-240-65-104-281-451-480-770-358-575-604-970-641-1032-10-18-45-74-76-126-47-78-106-194-107-212-1-3-11-26-24-53-60-118-132-406-157-623-19-158-8-491 20-649 82-462 291-872 619-1213 192-199 387-340 646-467 335-165 638-235 1020-235 382 0 685 70 1020 235 259 127 454 268 646 467 328 341 537 751 619 1213 28 158 39 491 20 649-25 217-97 505-157 623-13 27-23 50-23 53 0 16-57 127-107 210-32 52-67 110-77 128-37 62-283 457-641 1032-199 319-415 666-480 770-65 105-132 213-150 240-18 28-137 219-265 425-354 570-393 630-400 635-4 3-12-1-17-8zm138-904c118-191 654-1050 1214-1948 148-236 271-440 273-452 2-13 8-23 11-23 14 0 72-99 125-212 92-195 146-384 171-598 116-974-526-1884-1488-2110-868-205-1779 234-2173 1046-253 522-257 1124-10 1659 45 97 108 210 126 225 4 3 9 13 13 22 3 9 126 209 273 445 734 1176 1102 1766 1213 1946 67 108 124 197 126 197 2 0 59-89 126-197zM1080 3228c-75-17-114-67-190-243-91-212-128-368-137-580-34-772 497-1451 1254-1605 77-15 112-18 143-11 155 35 212 213 106 329-32 36-62 48-181 75-223 50-392 140-552 291-115 109-178 192-242 316-101 197-136 355-128 580 3 111 10 167 30 241 30 113 80 237 107 267 11 12 20 26 20 32 0 6 8 22 17 36 26 41 27 99 3 147-54 105-142 149-250 125z"></path>
            </g>
          </svg>
          <h1 class="title">boy.dog<sup><i><small>alpha</small></i></sup></h1>
          <p class="description">Build ultra-fast, realtime-collaborative webpages in Node.JS + Socket.IO</p>
          <a class="button" href="#demos" title="Examples">Demos</a>
        </section>
      </header>
      
      <section id="demos" class="container">
        <h2 class="title">Examples</h2>
        <p>Open this page in another window or browser</p>
        
        
        
        <div class="row">
          <div class="column">
            <h5>Authentication</h5>
            <div class="row">
              <div class="column">
                <p>Logged in as: <input id="username" type="text" value="guest-1" /></p>
              </div>
              <div class="column">
                <p>Password: <input id="password" type="text" value="this is a valid password for any user" /></p>
              </div>
            </div>
            <p>User list (read-only object bind): <textarea type="text" dog-value="users" dog-down="stringify"></textarea></p>
            
            <pre><code dog-html="users" dog-down="stringify">.milligram { color: #9b4dca; }</code></pre>


            <h3>Basic bindings</h3>
            <div class="row">
              <div class="column">
                <label>Name (string bind): <input type="text" dog-value="users[#username].name" /></label>
              </div>
              <div class="column">
                <label>Email (string bind): <input type="text" placeholder="email" dog-value="users[#username].email" /></label>
              </div>
              <div class="column">
                <label>Age (number bind): <input type="text" dog-value="age" /></label>
              </div>
            </div>
            
            <div class="row">
              <div class="column">
                <label>Company (bind and change string to uppercase by BoyLogic): <input type="text" dog-value="company" /></label>
              </div>
              <div class="column">
                <label>Products (bind and make number negative by BoyLogic): <input type="number" dog-value="products" /></label>
              </div>
              <div class="column">
                <label>HTML (interpret as HTML):</br><span id="txt" dog-html="registered"></span></label>
              </div>
                <label>Even/odd class (interpret as class):</br><span class="none" dog-class="counterClass" dog-html="counter"></span></br><span dog-html="counterClass"></span></label>
              <div class="column">
              </div>
            </div>
            
            <div class="row">
              <div class="column">
                <label>About (large string bind): <textarea placeholder="about" id="commentField" dog-value="about"></textarea></label>
              </div>
            </div>
            
            <h3>Deep property binding</h3>
            <label>Features (read-only object bind): <textarea type="text" placeholder="deep feature" dog-value="features" dog-down="stringify"></textarea></label>
            <label>Features.body (read-only object bind): <textarea type="text" placeholder="deep feature" dog-value="features['body']" dog-down="stringify"></textarea></label>
            <label>Features.body.up (read-only object bind): <textarea type="text" placeholder="deep feature" dog-value="features['body']['up']" dog-down="stringify"></textarea></label>
            <label>Features.body.up.eyes (read-only array bind): <textarea type="text" placeholder="deep feature" dog-value="features.body.up.eyes" dog-down="stringify"></textarea>
            <div class="row">
              <div class="column">
                <label>Features.body.up.eyes[0].color: <input type="text" placeholder="deep feature" dog-value="features.body.up.eyes[0].color"></label>
              </div>
              <div class="column">
                <label>Features.body.up.eyes[1].color: <input type="text" placeholder="deep feature" dog-value="features.body.up.eyes[1].color"></label>
              </div>
              <div class="column">
                <label>Features.body.down.feet: <input type="text" placeholder="deep feature" dog-value="features.body.down.feet"></label>
              </div>
            </div>
            
            <!-- TODO -->
            <!-- <label for="ageRangeField">Age Range</label>
             <select id="ageRangeField">
              <option value="0-13">0-13</option>
              <option value="14-17">14-17</option>
              <option value="18-23">18-23</option>
              <option value="24+">24+</option>
            </select> -->
            
            <!-- TODO -->
            <!-- <div class="float-right">
              <input type="checkbox" id="confirmField">
              <label class="label-inline" for="confirmField">True or false?</label>
            </div> -->
          
            <!-- tasks stringify: <input type="text" dog-value="tasks" dog-down="stringify"> -->
            <h3>Key iteration</h3>
            <div dog-repeat="colors">
              <p>@@@: $$$</p>
            </div>
            
            <h3>Array iteration</h3>
            <table>
              <thead>
                <tr>
                  <th>Product</th>
                  <th>SKU</th>
                </tr>
              </thead>
              <tbody>
                <tr dog-repeat="tasks">
                  <td><input type="text" dog-value="tasks[@@@].toDo"></td>
                  <td><input type="text" dog-value="tasks[@@@].progress"></td>
                </tr>
              </tbody>
            </table>
            <p>Task length: <span dog-html="tasks" dog-down="length"></span></p>
            taskname: <input type="text" dog-value="newTaskName">
            <a class="button" href="javascript:void(0);" dog-run="addTask">Add task</a>
            <br/>
            
            apples: <input type="text" dog-value="appleQuantity">
            <a class="button" href="javascript:void(0);" dog-run="increaseApples">Increase apples</a>
          </div>
        </div>
        
        
        
        
      </section>
      
      
      
      <section id="contributing" class="container">
        <h5 class="title">Contributing</h5>
        <p>You're welcome, contribute to the <a href="https://github.com/boydoglabs/boydog" title="Contributing">boydog boilerplate (this page)</a>, the <a href="boydog-boy" title="Contributing">boydog-boy (server-side NPM module)</a>, or <a href="https://github.com/boydoglabs/boydog" title="boydog-dog">boydog-dog (the client library)</a>.</p>
      </section>
      
      <footer class="footer">
        <section class="container">
          <p>By <a target="_blank" href="https://github.com/boydoglabs/" title="BoyDogLabs">BoyDogLabs</a>. Licensed under the <a target="_blank" href="https://github.com/boydoglabs/boydog/blob/master/LICENSE" title="MIT License">MIT License</a>.</p>
        </section>
      </footer>
      
    </main>
    
    <script src="/socket.io.js"></script>
    <script src="/boydog-dog.js"></script>
    <script>
      var bd = boydog(3090);
      
      var dogData = 'html';
      var dogLogic = {
        /*addAuth: function(data) {
          
          console.log("addAuth")
          
          return data;
        }*/
        "users": function(data) {
          
          return data;
        },
        "company": {
          "__u": function(data) {
            
            return data;
          },
          "__d": function(data) {
            
            return data;
          }
        },
        "features": {
          //Working middlewares
          "__middleU": function(data) {
            
            console.log("features middel up", data)
            
            data.set = data.set + "+";
            
            return data;
          },
          "__middleD": function(data) {
            
            console.log("features middel up")
            
            return data;
          },
          "body": {
            "__middleU": function(data) {
              
              console.log("features middel up body", data)
              data.set = data.set + "b";
              
              return data;
            },
            "up": { eyes: { '0': { color: {
              "__u": function(data) {
                
                console.log("executing last upload", data)
                
                data.set += ">";
                
                return data;
              }
            } } } }
          }
        }
      };
      
      bd.dogSet(dogData, dogLogic);
      
      $('#username').keyup(function() {
        console.log("bd", bd)
        
        bd.dogRebind();
      })
    </script>
  
  </body>
</html>
