<html>

<head>
  <title>boy.dog real-time framework</title>
  <link rel="stylesheet" href="/milligram.css">
  <script src="/jquery-2.2.4.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="column"></div>
      <div class="column">
        <h1>boy.dog<sup>alpha</sup></h1>
      </div>
      <div class="column"></div>
    </div>
    <div class="row">
      <div class="column">
        
        <h3>Auth</h3>
        <div class="row">
          <div class="column">
            <label>Username: <input id="username" type="text" value="guest-1" /></label>
          </div>
          <div class="column">
            <label>Password: <input id="password" type="text" value="secret" /></label>
          </div>
        </div>
        <label>User list (read-only object bind): <textarea type="text" dog-value="users" dog-run="stringify"></textarea></label>
        
        <h3>Basic bindings</h3>
        <div class="row">
          <div class="column">
            <label>Name (string bind): <input type="text" dog-value="users[#username].name" /></label>
          </div>
          <div class="column">
            <label>Email (string bind): <input type="text" placeholder="email" dog-value="users[#username].email" /></label>
          </div>
          <div class="column">
            <label>Age (number bind): <input type="text" dog-value="age" /></label>
          </div>
        </div>
        
        <div class="row">
          <div class="column">
            <label>Company (bind and change string to uppercase by BoyLogic): <input type="text" dog-value="company" /></label>
          </div>
          <div class="column">
            <label>Products (bind and make number negative by BoyLogic): <input type="number" dog-value="products" /></label>
          </div>
          <div class="column">
            <label>HTML (interpret as HTML):</br><span id="txt" dog-html="registered"></span></label>
          </div>
            <label>Even/odd class (interpret as class):</br><span class="none" dog-class="counterClass" dog-html="counter"></span></br><span dog-html="counterClass"></span></label>
          <div class="column">
          </div>
        </div>
        
        <div class="row">
          <div class="column">
            <label>About (large string bind): <textarea placeholder="about" id="commentField" dog-value="about"></textarea></label>
          </div>
        </div>
        
        <h3>Deep property binding</h3>
        <label>Features (read-only object bind): <textarea type="text" placeholder="deep feature" dog-value="features" dog-run="stringify"></textarea></label>
        <label>Features.body (read-only object bind): <textarea type="text" placeholder="deep feature" dog-value="features['body']" dog-run="stringify"></textarea></label>
        <label>Features.body.up (read-only object bind): <textarea type="text" placeholder="deep feature" dog-value="features['body']['up']" dog-run="stringify"></textarea></label>
        <label>Features.body.up.eyes (read-only array bind): <textarea type="text" placeholder="deep feature" dog-value="features.body.up.eyes" dog-run="stringify"></textarea>
        <div class="row">
          <div class="column">
            <label>Features.body.up.eyes[0].color: <input type="text" placeholder="deep feature" dog-value="features.body.up.eyes[0].color"></label>
          </div>
          <div class="column">
            <label>Features.body.up.eyes[1].color: <input type="text" placeholder="deep feature" dog-value="features.body.up.eyes[1].color"></label>
          </div>
          <div class="column">
            <label>Features.body.down.feet: <input type="text" placeholder="deep feature" dog-value="features.body.down.feet"></label>
          </div>
        </div>
        
        <!-- TODO -->
        <!-- <label for="ageRangeField">Age Range</label>
         <select id="ageRangeField">
          <option value="0-13">0-13</option>
          <option value="14-17">14-17</option>
          <option value="18-23">18-23</option>
          <option value="24+">24+</option>
        </select> -->
        
        <!-- TODO -->
        <!-- <div class="float-right">
          <input type="checkbox" id="confirmField">
          <label class="label-inline" for="confirmField">True or false?</label>
        </div> -->
      
        <!-- tasks stringify: <input type="text" dog-value="tasks" dog-run="stringify"> -->
        tasks length: <input id="forVal" type="text" dog-value="tasks" dog-run="length">
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Progress</th>
              <th>C</th>
              <th>D</th>
            </tr>
          </thead>
          <tbody>
            <tr dog-value="tasks" dog-run="walk">
              <td><input type="text" dog-value="tasks[@@@].toDo"></td>
              <td><input type="text" dog-value="tasks[@@@].progress"></td>
            </tr>
          </tbody>
        </table>
        taskname: <input type="text" dog-value="newTaskName">
        <a class="button" href="javascript:void(0);" dog-value="addTask" dog-run="buttonify">Add task</a>
        <br/>
        
        apples: <input type="text" dog-value="appleQuantity">
        <a class="button" href="javascript:void(0);" dog-value="increaseApples" dog-run="buttonify">Increase apples</a>
      </div>
    </div>
  </div>
  
  <script src="/socket.io.js"></script>
  <script src="/boydog-dog.js"></script>
  <script>
    var bd = boydog(3090);
    
    var dogData = 'html';
    var dogLogic = {
      /*addAuth: function(data) {
        
        console.log("addAuth")
        
        return data;
      }*/
      "users": function(data) {
        
        return data;
      },
      "company": {
        "__u": function(data) {
          
          return data;
        },
        "__d": function(data) {
          
          return data;
        }
      },
      "features": {
        //Working middlewares
        "__middleU": function(data) {
          
          console.log("features middel up", data)
          
          data.set = data.set + "+";
          
          return data;
        },
        "__middleD": function(data) {
          
          console.log("features middel up")
          
          return data;
        },
        "body": {
          "__middleU": function(data) {
            
            console.log("features middel up body", data)
            data.set = data.set + "b";
            
            return data;
          },
          "up": { eyes: { '0': { color: {
            "__u": function(data) {
              
              console.log("executing last upload", data)
              
              data.set += ">";
              
              return data;
            }
          } } } }
        }
      }
    };
    
    bd.dogSet(dogData, dogLogic);
    
    $('#username').keyup(function() {
      console.log("bd", bd)
      
      bd.dogRebind();
    })
  </script>
</body>

</html>