<html>

<head>
  <title>boy.dog real-time framework</title>
  <link rel="stylesheet" href="/milligram.css">
  <script src="/jquery-2.2.4.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="column"></div>
      <div class="column">
        <h1>boy.dog<sup>alpha</sup></h1>
      </div>
      <div class="column"></div>
    </div>
    <div class="row">
      <div class="column">
        <h3>Basic bindings</h3>
        <div class="row">
          <div class="column">
            <label>Name (string bind): <input type="text" dog-val="name" /></label>
          </div>
          <div class="column">
            <label>Email (string bind): <input type="text" placeholder="email" dog-val="email"></label>
          </div>
          <div class="column">
            <label>Age (number bind): <input type="text" dog-val="age" /></label>
          </div>
        </div>
        <h3>Auth</h3>
        <div class="row">
          <div class="column">
            <label>Username: <input type="text" dog-val="name" /></label>
          </div>
          <div class="column">
            <label>Password: <input type="text" placeholder="email" dog-val="email"></label>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <label>Company (bind and change string to uppercase by BoyLogic): <input type="text" dog-val="company" /></label>
          </div>
          <div class="column">
            <label>Products (bind and make number negative by BoyLogic): <input type="number" dog-val="products" /></label>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <label>About (large string bind): <textarea placeholder="about" id="commentField" dog-val="about"></textarea></label>
          </div>
        </div>
        <h3>Deep property binding</h3>
        <label>Features (read-only object bind): <textarea type="text" placeholder="deep feature" dog-val="features" dog-options="stringify"></textarea></label>
        <label>Features.body (read-only object bind): <textarea type="text" placeholder="deep feature" dog-val="features['body']" dog-options="stringify"></textarea></label>
        <label>Features.body.up (read-only object bind): <textarea type="text" placeholder="deep feature" dog-val="features['body']['up']" dog-options="stringify"></textarea></label>
        <label>Features.body.up.eyes (read-only array bind): <textarea type="text" placeholder="deep feature" dog-val="features.body.up.eyes" dog-options="stringify"></textarea>
        <div class="row">
          <div class="column">
            <label>Features.body.up.eyes[0].color: <input type="text" placeholder="deep feature" dog-val="features.body.up.eyes[0].color"></label>
          </div>
          <div class="column">
            <label>Features.body.up.eyes[1].color: <input type="text" placeholder="deep feature" dog-val="features.body.up.eyes[1].color"></label>
          </div>
          <div class="column">
            <label>Features.body.down.feet: <input type="text" placeholder="deep feature" dog-val="features.body.down.feet"></label>
          </div>
        </div>
        
        
        
        
        <!-- TODO -->
        <!-- <label for="ageRangeField">Age Range</label>
         <select id="ageRangeField">
          <option value="0-13">0-13</option>
          <option value="14-17">14-17</option>
          <option value="18-23">18-23</option>
          <option value="24+">24+</option>
        </select> -->
        
        
        
        <!-- TODO -->
        <!-- <div class="float-right">
          <input type="checkbox" id="confirmField">
          <label class="label-inline" for="confirmField">True or false?</label>
        </div> -- >
      </div>
      <div class="column">
        <!-- tasks stringify: <input type="text" dog-val="tasks" dog-options="stringify"> -->
        tasks length: <input id="forVal" type="text" dog-val="tasks" dog-options="length">
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Progress</th>
              <th>C</th>
              <th>D</th>
            </tr>
          </thead>
          <tbody>
            <tr dog-val="tasks" dog-options="walk">
              <td><input type="text" dog-val="tasks[@@@].toDo"></td>
              <td><input type="text" dog-val="tasks[@@@].progress"></td>
            </tr>
          </tbody>
        </table>
        taskname: <input type="text" dog-val="newTaskName">
        <a class="button" href="javascript:void(0);" dog-run="addTask">Add task</a>
        <br/>
        
        apples: <input type="text" dog-val="appleQuantity">
        <a class="button" href="javascript:void(0);" dog-run="increaseApples">Increase apples</a>
      </div>
    </div>
  </div>
  
  <script src="/socket.io.js"></script>
  <script src="/boy.dog.js"></script>
  <script>
    var bd = boydog(3090);
    bd.dogLogic = { abc: 123 };
  </script>
</body>

</html>