<html>

<head>
  <title>A Simple HTML Document</title>
  <link rel="stylesheet" href="/milligram.css">
  <script src="/jquery-2.2.4.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="column">
        <form>
          <fieldset>
            global name: <input type="text" dog-val="name">
            global age: <input type="number" dog-val="age">
            <input type="text" placeholder="name" dog-val="users['1']['name']">
            <input type="text" placeholder="age" dog-val="users[1].age">
            <input type="text" placeholder="email" dog-val="users[1].email">
            <input type="text" placeholder="deep feature" dog-val="features['body']['up']" dog-options="stringify">
            <input type="text" placeholder="deep feature" dog-val="features.body.up.eyes" dog-options="stringify">
            <input type="text" placeholder="deep feature" dog-val="features.body.up.eyes[0].color">
            <input type="text" placeholder="deep feature" dog-val="features.body.up.eyes[1].color">
            feet<input type="text" placeholder="deep feature" dog-val="features.body.down.feet">
            <label for="ageRangeField">Age Range</label>
            <select id="ageRangeField">
              <option value="0-13">0-13</option>
              <option value="14-17">14-17</option>
              <option value="18-23">18-23</option>
              <option value="24+">24+</option>
            </select>
            <label for="commentField">Comment</label>
            <textarea placeholder="about" id="commentField" dog-val="about"></textarea>
            <label for="jsonField">JSON</label>
            <textarea placeholder="about" id="commentField" dog-val="." dog-options="stringify"></textarea>
            <div class="float-right">
              <input type="checkbox" id="confirmField">
              <label class="label-inline" for="confirmField">Send a copy to yourself</label>
            </div>
            <input class="button-primary" type="submit" value="Send">
          </fieldset>
        </form>
      </div>
      <div class="column">
        <!-- tasks stringify: <input type="text" dog-val="tasks" dog-options="stringify"> -->
        tasks length: <input id="forVal" type="text" dog-val="tasks" dog-options="length">
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Progress</th>
              <th>C</th>
              <th>D</th>
            </tr>
          </thead>
          <tbody>
            <tr dog-val="tasks" dog-options="walk">
              <td><input type="text" dog-val="tasks[@@@].toDo"></td>
              <td><input type="text" dog-val="tasks[@@@].progress"></td>
            </tr>
          </tbody>
        </table>
        taskname: <input type="text" dog-val="newTaskName">
        <a class="button" href="javascript:void(0);" dog-run="addTask">Add task</a>
        <br/>
        
        apples: <input type="text" dog-val="appleQuantity">
        <a class="button" href="javascript:void(0);" dog-run="increaseApples">Increase apples</a>
      </div>
    </div>
  </div>
  
  <script src="/socket.io.js"></script>
  <script src="/lodash.min.js"></script>
  <script src="/boy.dog.js"></script>
  <script>
    $(function() {
      //Init
      console.log("started");
      bd(3090);
    });
  </script>
</body>

</html>